body {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Resume*/
.resume-container {
  width: 90%;
}

.resume-grid {
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}

.info-section {
  /* background: #27221F; */
  padding: 2%;
  /* width: 40% */
}

.edu-ex-section {
  background: #27221F;
  color: white;
  padding: 2%;
  /* width: 40% */
}
