.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App .divider {
  border-top: 3px solid#833fb2;
  width: 70%
}

/*** HEADER/NAVBAR ****/
header {
  width: 100%;
  font-size: 2.5rem;
  /* padding: 1% 0%; */
  background: #27221F;
  color: white;
  font-family: 'Abel', sans-serif;
  position: fixed;
  top: 0;
  z-index: 99;
  border-bottom: 3px solid grey;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.titleHeader img {
  width: 70%
}

.nav-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
}

.nav-link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 50%
}

.nav-item a {
  color: white;
  font-weight: bold;

}

a p:hover {
  color: #fadd35;
  cursor: pointer;
}

a .active {
  border-bottom: #27221F;
}


/*HOME SECTION*/
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  background-image: url('https://images.unsplash.com/photo-1530543787849-128d94430c6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  background-attachment: fixed;
  background-size: cover;
}

.home-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  
}

.photo-container {
  width: 18%;
  margin-top: 10%;
}

.photo-container img {
  border-radius: 100%
}

.blurb-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #27221F;
  color: white;
  width: 80%;
  margin: 3% 0;
  padding: 2%
}

.blurb-container h1 {
  font-family: 'Abel', sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
}

.blurb-container p {
  font-family: 'Montserrat', sans-serif;
  padding: 1%;
  text-align: center;
  font-size: 2rem
}

/*RESUME SECTION*/
.resume {
  padding-top: 3%
}
.resume-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  margin: 5%;
  font-family: 'Montserrat', sans-serif;
  
}

.info-section {
  padding: 2%;
  width: 30%;
  align-self: flex-start;
}

.info-section hr {
  border-top: 3px solid#833fb2;
  width: 70%
}
.info-section h1 {
  font-family: 'Abel', sans-serif;
  font-size: 3rem;
}
.info-section h2 {
  font-weight: bold;
}

.info-section h3 {
  font-weight: bold;
  margin: 2% 0;
}

.info-section a { 
  color: black
}

.info-section a:hover {
  color: #833fb2;
  text-decoration: none;
}

.edu-section {
  padding: 2%;
  width: 35%;
  align-self: flex-start;
}

.edu-section h2,
.work-section h2 {
  font-family: 'Abel', sans-serif;
  font-size: 3rem;
  margin-bottom: 2%;
}

.edu-section hr {
  border-top: 3px solid  #833fb2;
  margin: 3% 0;
}

.edu-section ul,
.work-section ul {
  margin: 2% 5% ;
}

.work-section {
  padding: 2%;
  width: 35%
}

.exp-container h3{
  margin: 1%;
}


/**** PORTFOLIO SECTION ****/
.portfolio {
  padding-top: 3%
}
.portfolio-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 3%
}

.portfolio-container h1 {
  width: 100%;
  text-align: center;
  margin: 4%;
  font-size: 3.5rem;
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
}

.card {
  width: 20%;
  margin: 2%;
 
}
.card-title {
  font-size: 2rem;
  text-align: center;
}

.card-body {
  font-size: 1.6rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.card-subtitle {
  padding: 5% 0;
}

.card-text {
  padding: 5% 0;
}

/**** CONTACT SECTION ****/
.contact {
  width: 100%;
  padding-top: 3%
}
.contact-container {
  width: 100%;
  /* margin: 3%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1530543787849-128d94430c6b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  background-attachment: fixed;
  background-size: cover;
}

.contact-form h1 {
  text-align: center;
  font-size: 3.5rem;
  margin: 2%;
  font-family: 'Abel', sans-serif;
}

.contact-form {
  width: 40%;
  margin: 5%;
  font-size: 2rem;
  background: white;
  padding: 2%;
  font-family: 'Montserrat', sans-serif;;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
}

button .btn {
  font-size: 2.2rem
}







